 
  <h3><p>Posted on: <%= post.created_at.in_time_zone('Asia/Kolkata').strftime('%B %d, %Y %I:%M %p %Z') %></p></h3>

  <% if post.image.present? %>
    <div class="card">
      <%= image_tag post.image.url ,width: "100%" %>
    </div>
  <% end %>

  <% if post.video.present? %>
    <video controls , width="30%">
    <source src="<%= post.video.url %>" type="video/mp4">
    </video>
  <% end %>
  <h3>Comments:</h3>
    <ul>
        <% post.comments.each do |comment| %>
          <li> <p><strong><%= comment.user.email %></strong>:</strong> <%= comment.content %></p></li>
        <% end %>
    </ul>
    <% if post.liking_users.any? %>
      <h3>Liking Users:</h3>
      <ul>
        <% post.liking_users.each do |user| %>
          <li><%= user.email %></li><br>
          <% end %>
      </ul>
    <% end %>


