
<style type="text/css">
		*{
			text-decoration: none;
    
		}
    body {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear;
    margin: 0;
    background: #2C3E50;
    }

    .card {
    position: relative;
    width: 325px;
    height: 215px;
    background: blue;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    position: flex;

    }
		.navbar{
			background: black; font-family: calibri; padding-right: 15px; padding-left: 15px;
		}
		.navdiv{
			display: flex; align-items: center; justify-content: space-between;
		}
		.logo a{
			font-size: 35px; font-weight: 600; color: white;
		}
		li{
			list-style: none; display: inline-block;
		}
		li a{
			color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
		}
		
    .side{
      
      align-items: center;
      justify-content: center;
      min-height: 30vh;
      width: 900px;
      margin-left: 230px;
      gap: 5px;
    }
 
    .post-container {
      
      max-width: 800px;
      margin-left: 100px;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 20px;
      padding: 25px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      background-image: linear-gradient(120deg,white,tomato,springgreen);
      

      /* Default style for avatars without an image */
      .default-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }
      .post {
        display: flex;
        flex-wrap: wrap;
        border: 3px solid red;
        background-color: #F0F3F4;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
        
      }
      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%; /* Make it round */
        overflow: hidden; /* Hide overflow if the image is larger */
        background-color: #ddd; /* Default background color */
        gap: 10px;
      }
      .user-name,
      .user-email {
        /* You can adjust the font size, color, and other properties as needed */
        font-weight: bold;
         font-size: 18px;
      }

      /* Separate the user name and email with a line break */
      .user-name::after {
        content: '\A'; /* Use '\A' for a line break in pseudo-element content */
        white-space: pre; /* Preserve whitespace */
        display: block; /* Make the line break a block element */
      }
      button{
        display: inline-block;
        padding: 10px 20px;
        border: solid;
        border-radius: 25px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        background-color: red;
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s ease;
      }

      
	</style>
</head>
<body>
	<nav class="navbar">
		<div class="navdiv">
			<div class="logo"><a href="#">SOCIALBOOK</a> </div>
			<ul>
        <li> 
          <% if user_signed_in? %>
            <p style="color:blue;">Logged in as: <%= current_user.email %></p>
          <% else %>
            <p>You are not logged in.</p>
          <% end %>
        </li>
        <li></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
				<li>
        <% if user_signed_in? %>
          <%= button_to 'Signout', destroy_user_session_path, method: :delete, form: {turbolink: false} %>
        <% else %>
          <p>You are not logged in.</p>
        <% end %>
        </li>
			</ul>
		</div>
	</nav>
</body>
</html>


  <button><%= link_to 'Create post', new_post_path %></button>

  <% @posts.each do |post| %>
    <div class="side">
      <div class="post-container">
        <div class="post">
          <% if post.user.avatar? %>
            <div class="avatar">
              <%= image_tag post.user.avatar.url, class: "avatar" %>
            </div>
          <% else %>
            <div class="default-avatar"><img src="https://www.pngarts.com/files/11/Avatar-PNG-Picture.png" alt="default-avatar" class="default-avatar"></div>
          <% end %>
          <div class="user-name">
            <%= post.user.username %>
          </div>
          <br>
          
          <%= post.user.email %>
          
          
          <p>
          <% unless current_user == post.user %>
            <% if current_user.following?(post.user) %>
              <%= button_to 'Unfollow', friendship_path(post.user.id), method: :delete %>
            <% else %>
              <%= button_to 'Follow', friendships_path(post.user.id), method: :post %>
            <% end %>
          <% end %>
          </p>
        </div>
        <h1><%= link_to post.content, post_path(post) %></h1>
        <%= render 'post', post: post %>
          
      </div>
    </div>
   

  <% end %>


